/* Google font imports */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

a {
  color: var(--magenta);
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: var(--hotmag);
}

/* Navbar Section */

nav {
  font-family: var(--mono);
}

.navlinks {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem;
}

.navlinks li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.navlinks li:first-child a {
  font-family: var(--sans);
  font-size: 1.75rem;
}

.navlinks li a {
  text-decoration: none;
  transition: color 0.4s ease;
  color: var(--white);
  font-size: 1.15rem;
}

.navlinks li a:hover {
  color: var(--hotmag);
}

nav [class *= "fa"] {
  color: var(--aqua);
  font-size: 150%;
  transition: color 0.4s ease;
}

nav [class *= "fa"]:hover {
  color: var(--hotmag);
}

.navlinks li a.call-to-action {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.navlinks li a.call-to-action:hover {
  background-color: var(--hotmag);
  color: var(--white);
}

/* Intro section */

#intro {
  padding: 0 2rem 10rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

/* contact section */

#contact {
  text-align: center;
  background-color: var(--plum);
}

#contact article {
  margin: 0 auto;
  padding: 3rem 0;
}

#contact article p:last-child {
  margin-top: 3rem;
}

#contact article a {
  color: var(--aqua);
}

.gradient {
    background: rgb(255,0,225);
    background: linear-gradient(90deg, rgba(255,0,225,1) 0%, rgba(0,255,255,1) 100%);
}



@media screen and (min-width: 750px) {
    .navlinks li:first-child {
      flex-basis: auto;
      text-align: left;
      margin-right: auto;
    }

    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
}
