@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    /* Global variables */
    --desktop-task-width: 400px;

    /* Dark Theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --veryd-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* GLOBAL STYLES */

body {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

p, li, button, span, small, div {
    font-weight: 400;
}

/* html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */


/* MAIN SECTION */

body.dark {
    background-color: var(--very-dark-desaturated-blue);
}

body.light {
    background-color: white;
}

.main_section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


/* PAGE HEADING SECTION */

.page_heading_section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: var(--task-width); */

    margin: 20px;
}

.page_heading_section h1 {
    color: white;

    text-align: center;
}

#theme_button.dark {
    border: 0;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZCA9ICJkYXJrX21vZGVfc3VuX2ljb25faW1hZ2UiIGNsYXNzID0gImRhcmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI2IiBoZWlnaHQ9IjI2Ij48cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMyAyMWExIDEgMCAwMTEgMXYzYTEgMSAwIDExLTIgMHYtM2ExIDEgMCAwMTEtMXptLTUuNjU3LTIuMzQzYTEgMSAwIDAxMCAxLjQxNGwtMi4xMjEgMi4xMjFhMSAxIDAgMDEtMS40MTQtMS40MTRsMi4xMi0yLjEyMWExIDEgMCAwMTEuNDE1IDB6bTEyLjcyOCAwbDIuMTIxIDIuMTIxYTEgMSAwIDAxLTEuNDE0IDEuNDE0bC0yLjEyMS0yLjEyYTEgMSAwIDAxMS40MTQtMS40MTV6TTEzIDhhNSA1IDAgMTEwIDEwIDUgNSAwIDAxMC0xMHptMTIgNGExIDEgMCAxMTAgMmgtM2ExIDEgMCAxMTAtMmgzek00IDEyYTEgMSAwIDExMCAySDFhMSAxIDAgMTEwLTJoM3ptMTguMTkyLTguMTkyYTEgMSAwIDAxMCAxLjQxNGwtMi4xMiAyLjEyMWExIDEgMCAwMS0xLjQxNS0xLjQxNGwyLjEyMS0yLjEyMWExIDEgMCAwMTEuNDE0IDB6bS0xNi45NyAwbDIuMTIxIDIuMTJBMSAxIDAgMDE1LjkzIDcuMzQ0TDMuODA4IDUuMjIyYTEgMSAwIDAxMS40MTQtMS40MTR6TTEzIDBhMSAxIDAgMDExIDF2M2ExIDEgMCAxMS0yIDBWMWExIDEgMCAwMTEtMXoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center;
    height: 29.33px;
    width: 29.33px;
}

#theme_button.light {
    border: 0;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZCA9ICJsaWdodF9tb2RlX21vb25faWNvbl9pbWFnZSIgY2xhc3MgPSAibGlnaHQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI2IiBoZWlnaHQ9IjI2Ij48cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMyAwYy44MSAwIDEuNjAzLjA3NCAyLjM3My4yMTZDMTAuNTkzIDEuMTk5IDcgNS40MyA3IDEwLjUgNyAxNi4yOTkgMTEuNzAxIDIxIDE3LjUgMjFjMi45OTYgMCA1LjctMS4yNTUgNy42MTMtMy4yNjhDMjMuMjIgMjIuNTcyIDE4LjUxIDI2IDEzIDI2IDUuODIgMjYgMCAyMC4xOCAwIDEzUzUuODIgMCAxMyAweiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: center;
    height: 29.33px;
    width: 29.33px;
}

#dark_mode_sun_icon_button {
    border: 0;
    background-color: transparent;
}

#light_mode_moon_icon_button {
    border: 0;
    background-color: transparent;
}


/* NEW TASK CONTAINER SECTION */

.new_task_container.dark {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 4px;
    margin: 15px;
    background-color: var(--very-dark-desaturated-blue);
}

.new_task_container.light {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-radius: 4px;
    margin: 15px;
    background-color: white;
}

.create_task_button.dark  {
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;

    width: 20px;
    height: 20px;

    margin: 3px;
}

.create_task_button.light {
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;

    width: 20px;
    height: 20px;

    margin: 3px;
}

.new_task_container form {
    margin-bottom: 0 0 20px;
}

#new_task_form {
    width: 100%;
}

#new_task_input.dark {
    color: white;
    width: 100%;
    background-color: transparent;
    border: 0px;
    outline: none;
}

#new_task_input.light {
    color: black;
    width: 100%;
    background-color: transparent;
    border: 0px;
    outline: none;
}

/* TASK LIST SECTION */

.task_list_section {
    display: flex;
    flex-direction: column-reverse;

    color: white;

    /* width: var(--task-width); */
}

.task_list {
    list-style-type: none;
}

#all_filter_button {
    color: blue;
}

.task_list:first-child.dark {
    background-color: var(--very-dark-desaturated-blue);

    margin: 0 0 25px;
}

.task_list:first-child.light {
    background-color: white;

    margin: 0 0 25px;
}

.task_list > li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 5px 0;
}

.task_list:first-child small {
    color: grey;
}

.task_list:first-child button.dark {
    background-color: var(--very-dark-desaturated-blue);
    color: grey;

    border: 0;
}

.task_list:first-child button.light {
    background-color: white;
    color: grey;

    border: 0;
}

.task_list:first-child button:hover {
    color: white;
    cursor: pointer;
}

.task_container.dark {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--very-dark-desaturated-blue);
}

.task_container.light {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

.task_description.dark {
    color: white;
}

.task_description.light {
    color: black
}

.left_align_container {
    display: flex;

    align-items: center;
}

.task_complete_button {
    border-radius: 50%;
    /* border: 1px solid white; */
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.task_complete_button.dark {
    border: 1px solid white;
}

.task_complete_button.light {
    border: 1px solid black;
}

.task_complete_button.task_completed{
    background-image: url("data:image/svg+xml,%3Csvg id='check_mark' xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.task_delete_button {
    display: block;
    width: 30px;
    height: 30px;

    justify-content: right;

    background-color: var(--very-dark-desaturated-blue);

    border: 0;

    background-image: url("data:image/svg+xml,%3Csvg id='cross_mark' xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath fill='%23494C6B' fill-rule='evenodd' d='M16.97 0l.708.707L9.546 8.84l8.132 8.132-.707.707-8.132-8.132-8.132 8.132L0 16.97l8.132-8.132L0 .707.707 0 8.84 8.132 16.971 0z'%3E%3C/path%3E%3C/svg%3E"/*words cannot describe the pain that went into this css page*/);
    background-repeat: no-repeat;
    background-position: center;
}

.task_description {
    margin: 0 5px;
}


/* MOBILE STYLES */

@media screen and (min-width: 1px){

    .main_section.dark {
        width: 100%;
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-desktop-dark.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .main_section.light {
        width: 100%;
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-mobile-light.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }



    /* PAGE HEADING SECTION */

    .page_heading_section {
        width: 70%;
    }

    /* NEW TASK CONTAINER */

    .new_task_container {
        width: 70%;
    }

    /* TASK LIST SECTION */

    .task_list_section {
        display: flex;
        align-items: center;

        width: 100%;
    }

    .task_list {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 70%;
    }

    .tasks_remaining, .clear_completed_tasks_button {
        display: none;
    }

}


/* DESKTOP STYLES */

@media screen and (min-width: 376px){

    .main_section.dark {
        width: 100%;
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-desktop-dark.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .main_section.light {
        width: 100%;
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-desktop-light.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    /* PAGE HEADING SECTION */

    .page_heading_section {
        width: var(--desktop-task-width);
    }

    /* NEW TASK CONTAINER */

    .new_task_container {
        width: var(--desktop-task-width);
    }

    /* TASK LIST SECTION */

    .task_list_section {
        display: flex;
        align-items: center;
    }

    .task_list {
        display: flex;
        justify-content: space-between;
    }

    .task_list:first-child {
        display: block;

        width: var(--desktop-task-width);
    }

    .tasks_remaining, .clear_completed_tasks_button {
        display: inline;
    }
}
