@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');



:root {
    /* Global variables */
    --task-width: 400px;

    /* Dark Theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --veryd-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);

    /* Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* --light-grayish-blue (hover): hsl(236, 33%, 92%); */

/* GLOBAL STYLES */

body {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

body, .dark{
    background-color: var(--very-dark-grayish-blue);
}

p, li, button, span, small, div {
    font-weight: 400;
}


/* MAIN SECTION */


.main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_section .light {
    display: none;
}


/* PAGE HEADING SECTION */


.page_heading_section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: var(--task-width);

    margin: 20px;
}


.page_heading_section h1 {
    color: white;

    text-align: center;
}


.page_heading_section svg {
    /* margin: auto 0; */
}


/* NEW TASK CONTAINER SECTION */


.new_task_container {
    display: flex;
    justify-content: left;
    align-items: center;

    width: var(--task-width);

    background-color: var(--very-dark-desaturated-blue);
    border-radius: 4px;

    margin: 15px;
}

.new_task_container button {
    border-radius: 50%;
    border: 1px solid white;
    background-color: var(--very-dark-desaturated-blue);

    width: 20px;
    height: 20px;

    margin: 3px;
}

.new_task_container form {
    margin-bottom: 0 0 20px;
}


#new_task_form {
    width: 100%;
}


#new_task_input {
    width: 100%;

    background-color: var(--very-dark-desaturated-blue);
    color: white;

    border: 0px;

    outline: none;
}


/* TASK LIST SECTION */


.task_list_section {
    display: flex;
    flex-direction: column-reverse;

    color: white;

    width: var(--task-width);
}


.task_list {
    list-style-type: none;
}


.task_list:first-child {
    background-color: var(--very-dark-desaturated-blue);

    margin: 0 0 25px;
}


.task_list:first-child button {
    background-color: var(--very-dark-desaturated-blue);
    color: white;
    border: 0;
}


.task_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--very-dark-desaturated-blue);
}


.left_align_container {
    display: flex;

    align-items: center;
}


.task_complete_button {
    border-radius: 50%;
    border: 1px solid white;
    background-color: var(--very-dark-desaturated-blue);

    width: 20px;
    height: 20px;

    margin: 3px;
}

.task_delete_button {
    display: block;
    width: 30px;
    height: 30px;

    justify-content: right;
}


.task_description {
    margin: 0 5px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}





/* MOBILE STYLES */

@media screen and (min-width: 1px){

    .main_section, .dark {
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-mobile-dark.jpg?raw=true");
    }

    .main_section, .light {
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-mobile-light.jpg?raw=true");
    }



    /* TASK LIST SECTION */


    .tasks_remaining, .clear_completed_tasks_button {
        display: none;
    }

}





/* DESKTOP STYLES */

@media screen and (min-width: 376px){

    .main_section, .dark {
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-desktop-dark.jpg?raw=true")
    }

    .main_section, .light {
        background-image: url("https://github.com/ctorrington/practice/blob/master/Xander%20Academy/JavaScript/Todo%20Application/images/bg-desktop-light.jpg?raw=true");
    }


    /* TASK LIST SECTION */

    .tasks_remaining, .clear_completed_tasks_button {
        display: inline;
    }

}





