* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


section, nav, h1, p {
    border: 1px solid black;
    margin: 10px
}


@media screen and (min-width: 375px){
    .main {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;

        justify-content: center;
        align-content: center;
    }


    /* Navigation Section */


    .navigation {
        display: flex;
        align-items: center;
    }


    .navigation_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        grid-column: 1/ span 3;
        grid-row: 1;
    }


    .navigation_list {
        display: flex;
        flex-direction: row;

        list-style-type: none;

        padding: 0;
        margin: 0;
    }


    /* Main Section */


    .main_section_article {
        grid-column: 1/ span 2;
        grid-row: 2;

        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, auto);
    }


    .main_section_image {
        grid-column: 1/ span 2;
        grid-row: 1;
    }


    .main_section_heading {
        grid-column: 1;
        grid-row: 2;
    }


    .main_section_description{
        display: flex;
        flex-direction: column;
        
        justify-content: left;
    }


    .main_section_paragraph {
        grid-column: 2;
        grid-row: 2;
    }


    .main_section_button {
        grid-column: 2;
        grid-row: 2;

        width: 80px;
        height: 30px;

        margin: 0 auto;
    }


    /* New Sideline Section */


    .new_section {
        grid-column: 3;
        grid-row: 2;
    }


    /* Ranked Section */


    .ranked_section {
        grid-column: 1/ span 3;
        grid-row: 3;
    }


    .ranked_section_list {
        display: flex;
        flex-direction: row;

        list-style-type: none;
    }

    .ranked_section_article {
        display: flex;
        flex-direction: row;
    }

    .ranked_section_image_description {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 375px){

    .main {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        visibility: hidden;
    }

}

