/* 
A note on the CSS standard

Nesting in css makes me cry.

"article figure ul li" means absolutely nothing, even if there is only one such structure.
It requires developers to go and look at the coded hierachy and find exactly where it begins,
    why not just start at "figure ul li"?
Why not go "html body main article figure ul li"?
Are there any others that I do not want affected? Do I, like, need another div...?
There is no way that it is consistent.
It makes it far too easy to accidently work in the wrong ruleset, eg. "figure ul li" is surely the right one.
It requires understanding not just of the hmtl structure, but also painful understanding of the css "structure".

My approach is to assign classes to all elements that have descendants.
This ensures that each element can be easily targeted without confusion.
If the html is structured properly, the css should read easily as well.
".navigation_section_title" reads much easier than, ".nav article li:fist-child".
It is not necessary for list items or paragraphs to require classes, for example,
    ".navigation_list li" is descriptive enough, if organised logically.


The idea is that, while writing the html classes requires more work, it allows for instant lookups in
    the css file; infering the correct rule based on proper naming without needing to leave the css file 
    to understand what "article ul li" is going to change.
The class names in the html should reflect the hierarchy of the document. 
*/






/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');



/* GLOBALS */

:root {
    --soft_orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --off_white: hsl(36, 100%, 99%);
    --grayish_blue: hsl(233, 8%, 79%);
    --dark_grayish_blue: hsl(236, 13%, 42%);
    --very_dark_blue: hsl(240, 100%, 5%);
    
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* sans-serif is a back up font here, incase 'Inter' is not availbe on the requsting machine */
    font-family: 'Inter', sans-serif;

    cursor: progress;   /* :) */
}

main {
    margin: 20px;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 40px;

    line-height: 1;
}


p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;

    color: var(--dark_grayish_blue);
}


section, nav, h1, p {
    /* border: 1px solid black; */
    /* margin: 10px */
}


/* Navigation Section */

.navigation_list li a {
    text-decoration: none;

    color: var(--very_dark_blue);
}


.navigation_list li a:hover {
    transition: 0.4s;

    color: var(--soft_orange);

    cursor: pointer;
}



/* Main Section */


.main_section_button {
    background-color: var(--red);
    border: 0px;
    color: var(--off_white);

    width: 50%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}


.main_section_button:hover {
    transition: 0.4s;
    
    background-color: var(--very_dark_blue);

    cursor: pointer;
}


.main_section_button_text {
    padding: 3px 5px;
    margin: 0;

    color: var(--off_white);

    cursor: pointer;
}


/* New Section */


.new_section {
    background-color: var(--very_dark_blue);
    padding: 12px
}


.new_section_heading {
    color: var(--soft_orange);
}


.new_section_list dt {
    margin-top: 30px;
    margin-bottom: 10px;
}


.new_section_list dt a {
    text-decoration: none;
    color: white;
}


.new_section_list dt a:hover {
    transition: 0.4s;

    color: var(--soft_orange);

    cursor: pointer;
}


.new_section_list dd {
    color: var(--grayish_blue);

    margin-bottom: 20px;
}


/* Ranked Section */


.ranked_section_list {
    list-style-type: none;
}


.ranked_section_article {
    display: flex;
    flex-direction: row;
}


.ranked_section_image_description {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.ranked_section_image_description h3 {
    font-size: 30px;
    color: var(--grayish_blue);
}


.ranked_section_image_description h4 {
    margin-bottom: 10px;
}


.ranked_section_image_description h4 a {
    text-decoration: none;

    color: var(--very_dark_blue);
}


.ranked_section_image_description h4 a:hover {
    transition: 0.4s;
    color: var(--red);
    cursor: pointer;
}


.ranked_section_image_description p {
    margin: 0;
}



/* MOBILE */


@media screen and (min-width: 1px){


    /* Navigation Section */


    .navigation_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        grid-column: 1/ span 3;
        grid-row: 1;

        padding-bottom: 20px;
    }


    .navigation_list, .navigation {
        display: none;
    }


    .navigation_section_hamburger_button {
        background-color: white;
        border: 0;
    }


    #side_panel {
        display: contents;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        height: 100%;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 9999;
    }


    #side_panel.open {
        transform: translateX(0);
        display: contents;
        right: 0;
    }

    
    /* Main Section */


    .main_section {
        margin: 0;
    }


    .main_section_image_desktop {
        display: none;
    }


    .main_section_image_mobile {
        max-width: 100%;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    
    .main_section_button {
        margin-bottom: 20px;
    }


    .main_section_heading, .main_section_paragraph {
        margin: 10px 0px;
    }


    /* New Section */


    .new_section {
        margin-bottom: 20px;
    }


    /* Ranked Section */


    .ranked_section_list li {
        padding: 10px;
    }


    .ranked_section_image {
        width: 30%;
        height: 30%;
    }


    .ranked_section_image_description {
        padding-left: 10px;
    }
}






/* DESKTOP */


@media screen and (min-width: 376px){
    .main {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 20px;

        justify-content: center;
        align-content: center;
    }


    /* Navigation Section */


    .navigation_section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        grid-column: 1/ span 3;
        grid-row: 1;

        max-width: 100%;
        width: 100%;

        margin: 0 auto;
    }


    .navigation_section_hamburger_button {
        display: none;
    }


    .navigation_section_hamburger {
        display: none;
    }

    .navigation {
        display: contents;
    }


    .navigation_list {
        display: flex;
        flex-direction: row;
        align-items: center;

        list-style-type: none;

        padding: 0;
        margin: 0;
    }

    .navigation_list li {
        margin: 0 15px;
    }


    /* Main Section */


    .main_section {
        grid-column: 1/ span 2;
    }


    .main_section_article {
        grid-column: 1/ span 2;
        grid-row: 2;

        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, auto);
    }


    .main_section_image_desktop {
        display: block;
        grid-column: 1/ span 2;
        grid-row: 1;

        max-width: 100%;
        width: auto;
        height: auto;
    }


    .main_section_image_mobile {
        display: none;
    }


    .main_section_heading {
        grid-column: 1;
        grid-row: 2;
    }


    .main_section_description{
        display: flex;
        flex-direction: column;
        
        justify-content: left;

        padding: 10px
    }


    .main_section_paragraph {
        grid-column: 2;
        grid-row: 2;

        margin: 0;
    }


    .main_section_button {
        grid-column: 2;
        grid-row: 2;
    }


    /* New Section */


    .new_section {
        grid-column: 3;
        grid-row: 2;
    }


    /* Ranked Section */


    .ranked_section {
        grid-column: 1/ span 3;
        grid-row: 3;
    }
    
    
    .ranked_section_list {
        display: flex;
        flex-direction: row;
    }

    
    .ranked_section_image {
        width: 30%;
        height: 30%;
    }
}